@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/***************************** general styling **************************/
* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(29, 10, 2);
    background-color: #fffcf9;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

main {
    margin: 15px;
    min-height: 100vh;
}

h1, h2 {
    color: rgb(4, 137, 4);
    font-family: 'Oswald', sans-serif;
}

h2 {
    padding: 5px 0;
}

h3 {
    font-family: 'Oswald', sans-serif;
}

/************************ general header + footer styling **************************/
.middle {
    order: 2;
}

.left {
    order: 1;
}

.right {
    order: 3;
}

header {
    background-color: #f0e4d8d2;
    padding: 20px;
}

nav {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 5px;
}

a {
    text-decoration: none;
    color: rgb(29, 10, 2);
    font-weight: bold;
}

#name {
    color: rgb(4, 137, 4);
    font-size: 42px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0e4d8d2;
    height: 50px;
}

p {
    font-size: 18px;
}

/*********************** myplants view specific styling ***********************/
.plantoverviewcontainer {
    display:flex;
    justify-content: start;
    margin: 0 auto;
    gap: 10px 20px;
    flex-wrap: wrap;
    width: 80%;
}

.plantoverviewsmall {
    border: 2px solid rgb(72, 26, 6);
    border-right: 8px solid rgb(72, 26, 6);
    border-bottom: 5px solid rgb(72, 26, 6);
    border-radius: 2px;
    box-shadow: 7px 5px 3px 1px rgb(122, 101, 92);
    transform: skew(-4deg, 0deg);
    margin: 5px;
    padding: 8px 5px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.plantoverviewsmall h2, p, a {
    margin-bottom: 5px;
}

/******************************* plantdetails view specific styling ***************************/
.plantasiahomepagecontent {
    width: 70%;
    margin: 0 auto;
}
.plantasiahomepagecontent h1 {
    text-align: center;
    font-size: 46px;
}
