* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(29, 10, 2);
    background-color: #fffcf9;
}

main {
    margin: 15px;
    min-height: 100vh;
}

header {
    background-color: #f0e4d8d2;
    padding: 20px;
}

nav {
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 5px;
}

a {
    text-decoration: none;
    color: rgb(29, 10, 2);
    font-weight: bold;
}

#name {
    color: rgb(4, 137, 4);
    font-size: 42px;
    font-weight: bold;
}

h1, h2 {
    color: rgb(4, 137, 4)
}
h2 {
    padding: 5px 0;
}

hr {
    border-top: 1px solid rgba(4, 137, 4, 0.652);
    width: 50%;
    text-align: center;
}

.middle {
    order: 2;
}

.left {
    order: 1;
}

.right {
    order: 3;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0e4d8d2;
    height: 50px;
}
